*.suo
*.user
_ReSharper.*
bin
obj
packages
xamarin_demo/.vs/
xamarin_demo/xamarin_demo/xamarin_demo.Android/obj/
xamarin_demo/xamarin_demo/xamarin_demo.Android/bin/
xamarin_demo/xamarin_demo/xamarin_demo.iOS/obj/
xamarin_demo/xamarin_demo/xamarin_demo.iOS/obj/
xamarin_demo_app/xamarin_demo/xamarin_demo/xamarin_demo.iOS/obj
xamarin_demo/xamarin_demo/xamarin_demo/obj
xamarin_demo/xamarin_demo/xamarin_demo/bin